[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
opencv-python = "*"
ipykernel = "*"
pillow = "*"
matplotlib = "*"
torchvision = "*"
seaborn = "*"
colorthief = "*"

[dev-packages]

[requires]
python_version = "3.9"
